$opensans: 'Open Sans', sans-serif;
$orbitron: 'Orbitron', sans-serif;
$white-color: #fff;
$primary-color: #21396F;
$bg-transparent: transparent;
$primary-blue: #3a6af0;
$primary-dark: #d20055;
$secondary-color: #21396F;
$blue-bg: #120f4e;


$title-color: #222222;
$gray-color: #a9a9a9;
