/* Orbitron */
@font-face {
  font-family: 'Orbitron';
  src: url("../fonts/googlefont/orbition/Orbitron-Regular.eot");
  src: url("../fonts/googlefont/orbition/Orbitron-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/googlefont/orbition/Orbitron-Regular.woff2") format("woff2"), url("../fonts/googlefont/orbition/Orbitron-Regular.woff") format("woff"), url("../fonts/googlefont/orbition/Orbitron-Regular.ttf") format("truetype"), url("../fonts/googlefont/orbition/Orbitron-Regular.svg#Orbitron-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Orbitron';
  src: url("../fonts/googlefont/orbition/Orbitron-Bold.eot");
  src: url("../fonts/googlefont/orbition/Orbitron-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/googlefont/orbition/Orbitron-Bold.woff2") format("woff2"), url("../fonts/googlefont/orbition/Orbitron-Bold.woff") format("woff"), url("../fonts/googlefont/orbition/Orbitron-Bold.ttf") format("truetype"), url("../fonts/googlefont/orbition/Orbitron-Bold.svg#Orbitron-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Orbitron';
  src: url("../fonts/googlefont/orbition/Orbitron-Medium.eot");
  src: url("../fonts/googlefont/orbition/Orbitron-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/googlefont/orbition/Orbitron-Medium.woff2") format("woff2"), url("../fonts/googlefont/orbition/Orbitron-Medium.woff") format("woff"), url("../fonts/googlefont/orbition/Orbitron-Medium.ttf") format("truetype"), url("../fonts/googlefont/orbition/Orbitron-Medium.svg#Orbitron-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

/* open sans */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/googlefont/opensans/OpenSans-SemiBold.eot");
  src: url("../fonts/googlefont/opensans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/googlefont/opensans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/googlefont/opensans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/googlefont/opensans/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/googlefont/opensans/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/googlefont/opensans/OpenSans-Regular.eot");
  src: url("../fonts/googlefont/opensans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/googlefont/opensans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/googlefont/opensans/OpenSans-Regular.woff") format("woff"), url("../fonts/googlefont/opensans/OpenSans-Regular.ttf") format("truetype"), url("../fonts/googlefont/opensans/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/googlefont/opensans/OpenSans-Bold.eot");
  src: url("../fonts/googlefont/opensans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/googlefont/opensans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/googlefont/opensans/OpenSans-Bold.woff") format("woff"), url("../fonts/googlefont/opensans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/googlefont/opensans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
